* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}
body {
  background-color: hsl(47, 88%, 63%);
}
.card {
  width: 420px;
  height: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background: white;
  box-shadow: 5px 4px black;
}
.image {
  position: relative;
  top: 4%;
  border-radius: 20px;
}
img {
  border-radius: 10px;
  position: relative;
  left: 9%;
}

.typography {
  width: 330px;
  height: 300px;
  position: relative;
  top: 5%;
  left: 9%;
}
.learning {
  margin-left: 5px;
  font-size: 1.2rem;
  background: hsl(47, 88%, 63%);
  width: 86px;
  border-radius: 5px;
  align-items: center;
}
.learning p {
  text-align: center;
  font-weight: bold;
  padding: 0.3rem;
}
.date-pub {
  margin-top: 15px;
  color: hsl(0, 0%, 42%);
}
.topic {
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: bold;
}
.text {
  margin-top: 20px;
  color: hsl(0, 0%, 42%);
}
.author {
  /* border: 2px solid; */
  position: relative;
  width: 200px;
  top: 10%;
  right: 7%;
  display: flex;
  align-items: center;
}
.name {
  position: relative;
  left: 10%;
}

/* Media Queries for small devices */

@media (max-width: 440px) {
  .card {
    width: 350px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background: white;
    box-shadow: 5px 4px black;
  }
  .image {
    position: relative;
    top: 4%;
    right: 7%;
    border-radius: 20px;
  }
}
